
[Unit]
Description=Unblock WiFi via rfkill (early)
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock wifi

[Install]
WantedBy=network-pre.target
